@model ViewModels.BlogListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<section class="breadcrumb-area" style="background-image: url(/img/breadcrumb/breadcrumb-bg.jpg);">
    <div class="container text-center">
        <h1>اخبار و مقالات</h1>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="/Blogs">اخبار</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                <li>اخبار و مقالات</li>
            </ul>
        </div>
    </div>
</section>
<section id="news-area">
    <div class="container">
        <div class="row">
            <!--Start blog post-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-post">
                    @foreach (var blog in Model.Blogs)
                    {

                    <!--Start single blog post-->
                        <div class="single-blog-post">
                            <div class="img-holder">
                                <img src="@blog.ImageUrl" alt="@blog.Title">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a class="thm-btn yellow-bg" href="/blog/@blog.UrlParam">ادامه...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder">
                                <a href="/blog/@blog.UrlParam">
                                    <h2 class="blog-title">
                                        @blog.Title
                                    </h2>
                                </a>
                                <ul class="meta-info">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>@blog.CreationDate.ToShortDateString()</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i>@blog.Visit</li>
                                </ul>
                                <div class="text">
                                    <p>@Html.Raw(string.Format(blog.Body.Length > 300 ? blog.Body.Substring(0, 300) + "..." : blog.Body))</p>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12">
                <div class="sidebar-wrapper">
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
                            <input placeholder="جستجو" type="text">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>جدیدترین اخبار</h1>
                            <span class="border"></span>
                        </div>
                        <ul class="categories clearfix">
                            @foreach (var blog in Model.RecentBlogs)
                            {
                                <li><a href="/blog/@blog.UrlParam">@blog.Title<span>(@blog.Visit)</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="sidebar-title">
                            <h1>پربازدیدترین اخبار</h1>
                            <span class="border"></span>
                        </div>
                        <ul class="popular-post">
                            @foreach (var blog in Model.PopularBlogs)
                            {
                                <li>
                                    <div class="img-holder">
                                        <img src="@blog.ImageUrl" alt="@blog.Title">
                                        <div class="overlay-box">
                                            <div class="box">
                                                <div class="content">
                                                    <a href="/blog/@blog.UrlParam"><i class="fa fa-link" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h3><a href="/blog/@blog.UrlParam">@blog.Title</a></h3>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>@blog.CreationDate.ToShortDateString()</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
